.idea
cmake-build-*/

# Temporary files
*~
.#*
\#*#
._*
*.dSYM
.*.sw[op]

# Compilation files
*.bc
*.ll
*.o
/.macros-checked
/.format-checked

# Target files
/mdriver
/mdriver-dbg
/mdriver-emulate
/.selected_course.txt

# Doxygen files
/doc/
/doxygen.warn
